.user-table {
  margin-top: 50px;
}

table {
  width: 100%;
  td {
    .mat-icon {
      cursor: pointer;
    }
  }

  tr {
    &:hover {
      background-color: #f3f3f3;
    }
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

div.users {
  width: 80%;
  margin: 50px auto;
}

form button {
  margin-top: 10px;
}
